$whiteColor: #ffffff;
$system : system-ui;
$textGray : #999999;
$sizefourteen :14px;
$colorBlue: #1e73be;
$colorGreen: #81d742;
$colorRed: #ce592f;
$colorBlack: #000000;
$colorBrown: #aa7627;
$colorAqua: #1fb1c1;
$colorOrange: #f49922;
$colorPurple: #ce25e8;
$colorYellow: #e6e707;


@mixin onCardButton {
    position: absolute;
    top: 20px;
    z-index: 5;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 1px 5px 0px #999999;
    background-color: $whiteColor;
}

.productList-head {
    font-size: 16px;

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        display: none;
    }

    ::ng-deep .mat-paginator-page-size {
        display: none;
    }

    ::ng-deep .mat-paginator-range-label {
        font-size: 16px;
        color: $colorBlack;
        margin: 0;
    }

    .mat-paginator {
        display: inline-block;
    }
}

.featured-wrap {

    .featured-iner {
        width: 33.33%;
        padding: 10px;
        margin-top: 15px;
        position: relative;

        .onCard-saleButton {
            @include onCardButton;
            left: 20px;
            border-radius: 20px;
            padding: 5px 13px 3px;
        }

        .onCard-addCart {
            @include onCardButton;
            right: 20px;
            transition: all 0.5s;
            border-radius: 50%;
            padding: 5px 7px 1px 6px;
            opacity: 0;
        }

        img {
            width: 100%;
        }

        h3 {
            font-size: 16px;
            font-weight: 500;
            font-family: $system;
        }

        p {
            font-size: 16px;
            line-height: 30px;
            font-family: $system;
            margin-bottom: 0px;
        }

        p.genderCategory {
            color: $textGray;
            font-size: $sizefourteen;

            .visitedPlace {
                color: $colorBlue;
            }
        }

        p.price {
            font-weight: 500;

            s {
                color: $textGray;
            }
        }

        p.star {
            color: $textGray;
            font-size: 12px;

            .fa,
            .fas,
            .far {
                margin-right: 1px;
            }
        }

        p.color {
            display: flex;

            span {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 2px solid #ffffff;
                margin: 10px 5px 0px 0;
            }

            .colorBlue {
                background-color: $colorBlue;
            }

            .colorGreen {
                background-color: $colorGreen;
            }

            .colorRed {
                background-color: $colorRed;
            }

            .colorBlack {
                background-color: $colorBlack;
            }

            .colorBrown {
                background-color: $colorBrown;
            }

            .colorAqua {
                background-color: $colorAqua;
            }

            .colorOrange {
                background-color: $colorOrange;
            }

            .colorPurple {
                background-color: $colorPurple;
            }

            .colorYellow {
                background-color: $colorYellow;
            }
        }

        p.size span {
            border: 1px solid #e0e0e0;
            padding: 3px 8px;
            margin-right: 5px;
            font-size: 14px;
        }

    }

    .featured-iner:hover .onCard-addCart {
        opacity: 1;
    }
.img-wrap-flag{
    min-height: 155px;
}
}